body {
	font-family: sans-serif;
	height: 100%;
	display: grid;
}

div.pagina-inhoud {
	margin: auto;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 10px;
}

div.menuutje {
    padding: 10px;
}

div.menuutje blockquote {
    text-align: right;
    font-size: small;
}

nav ul {
    padding-left: 0px;
}

nav ul li {
    display: inline;
    margin: 10px;
}

img.inline-logo {
    height: 2em;
    width: auto;
    margin-bottom: -0.5em;
}
